<main class="container">
  <h3>Hello, my name is Krista.</h3>
  <p>I'm an impact-driven, dedicated and socially conscious professional, 
  passionate about driving positive change to my organization and the world. 
  Currently, I am a software engineering student at Flatiron School. Previously, 
  I helped veterans figure out what to do in their post-military career through 
  American Corporate Partners, I planned public events for Brooklyn Bridge 
  Park Conservancy, and I started my career building a youth camp at a horse barn.</p>

  <p>I'm adventurous, experimental, and curious to find new solutions for old problems. 
  I hold a Bachelor's in Human Rights, Politics and Development from NYU, and 
  am fluent in Spanish. My strengths include: Harmony, Analytical, Developer, 
  Learner, Responsibility. </p>
  <%= link_to "Linked In", "https://www.linkedin.com/in/krista-loven/", target: "_blank" %>
  <%= link_to "GitHub", "https://github.com/kel29", target: "_blank" %>
</main>
