<main class="container py-5">
  <div class="text-center">
    <h1 class="font-weight-normal">Sign Up</h1>
    <%= render partial: 'form', locals: {user: @user} %>
  </div>
</main>

<main class="container text-center">
  <h4>Already have an account?</h4>

  <div>
    <%= button_to "Login", login_path, method: 'get', class: "btn btn-success mt-3 text-dark text-center" %>
  </div>
</main>