<header class="container">
  <h1><%= "#" + @tag.tag_name %></h1>
</header>

<main class="container">
  <ul>
    <% @tag.blogs.each do |blog| %>
      <li><%= link_to blog.title, blog %></li>
    <% end %>
  </ul>
</main>